
<div class="f5-configuration">
    <div class="f5-configuration__cards">
        <div class="clr-row">
            <div class="clr-col-lg-6 clr-col-sm-6 clr-col-12">
                <div class="card">
                    <h3 class="card-header">
                        <cds-icon shape="two-way-arrows" size='md' status="success"></cds-icon>
                        Next Converstion
                    </h3>
                    <div class="card-block">
                      <form clrForm [clrLayout]="verticalLayout" >
                        <clr-input-container>
                          <label>Name</label>
                          <input placeholder="Full name" clrInput value="John" name="name" readonly/>
                        </clr-input-container>
                        <clr-input-container>
                            <label># of Flags</label>
                            <input placeholder="Full name" clrInput value="John" name="name" readonly/>
                          </clr-input-container>
                      </form>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary">START</button>
                        <button class="btn btn-link">SKIP</button>
                    </div>
                  </div>
            </div>
            <!-- <div class="clr-col-lg-6 clr-col-sm-6 clr-col-12">
                <div class="card">
                    <h3 class="card-header">Header</h3>
                    <div class="card-block">
                      <h4 class="card-title">Block</h4>
                      <div class="card-text">...</div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary">START</button>
                        <button class="btn btn-link">SKIP</button>
                    </div>
                  </div>
            </div> -->
          </div>
    </div>
    <div class="f5-configuration__grid">
        <incomplete-migrations-grid [incompleteMigrationsData]="incompleteMigrationsData"></incomplete-migrations-grid>
    </div>
</div>
